<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean id="daJieController" class="edu.ysu.ling.crawlerController.DaJieController"/>
    <bean id="laGouController" class="edu.ysu.ling.crawlerController.LaGouController"/>
    <bean id="JobPush" class="edu.ysu.ling.push.JobPush"/>

    <!-- 配置MethodInvokingJobDetailFactoryBean -->
    <bean id= "daJiejob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="daJieController"/>
        <property name="targetMethod" value="main"/>
    </bean>
    <bean id= "laGoujob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="laGouController"/>
        <property name="targetMethod" value="main"/>
    </bean>
    <bean id="jobPush" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="JobPush"/>
        <property name="targetMethod" value="pushJob"/>
    </bean>

    <!-- 配置定时表达式 -->
    <bean id="daJieTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
        <property name="jobDetail" ref="daJiejob" />
        <property name="cronExpression" value="0/5 * * * * ?" />
    </bean>
    <bean id="laGouTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
        <property name="jobDetail" ref="laGoujob" />
        <property name="cronExpression" value="0/5 * * * * ?" />
    </bean>
    <bean id="jobPushTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
        <property name="jobDetail" ref="jobPush" />
        <property name="cronExpression" value="0 0/1 * * * ?" />
    </bean>

    <!-- 配置调度工厂 -->
    <bean id="testSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers" >
            <list>
                <!--<ref bean="jobPushTrigger"/>-->
                <!--<ref bean="daJieTrigger" />-->
                <!--<ref bean="laGouTrigger" />-->
            </list>
        </property>
    </bean>
</beans>